body{
    height: 100%;
    width:100%;
    margin: 0px;
    /* background-color: blue; */
}
.container{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    min-width: fit-content;
    padding-top: 8px;
    position: relative;
    z-index: 1;
} 
.header{
    box-sizing: border-box;
    position: relative;
    padding: 6px;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-size: 14px;
    font-family: sans-serif,Arial, sans-serif;
    /* background-color: antiquewhite; */
}
.info{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    margin-left: 15px; 
    color: #202124;
    font-size: 14px;
    font-family: sans-serif,Arial, sans-serif;
}
.store{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}
.item{
        position: relative;
        display: flex;
        flex-direction: row ;
    }
    
.verse{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
.login{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}
.imagi{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}
.gmail{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}
.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: relative;
    padding: 100px;
    background-color: #70757a;
}
input{
    width: 90%;
    border-color: #bbb;
    border-radius: 16px;
    border-width: 1px;
    padding: 6px 0 6px 0;
    margin: 6px;
}
.fasfa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 44px;
    /* background-color: #fff; */
    margin: 0 auto;
    max-width: 584px;
}
.butt{
    height: 70px;;
}
.googlebutton{
    height: 36px;
    margin: 4px;;
    font-size: 14px;
    font-family: sans-serif,Arial, sans-serif;
    color: #3c4043;
}
.logo{
    min-height: 92px;
    max-height: 290px;
    height: 100%;
    margin-top: auto;


}
.third{
    color: #70757a;
    flex-wrap: wrap;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}
.bot1{
    position: relative;
    display: flex;
    flex-direction: row;
}
.bot2{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.adver, .business, .search, .personal, .vicious, .setting{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}
 
